<center>
<h1><%=@user.name%><%=@itineraries.name%> Itinerary Details</h1>

<br />

<h2>Football Match Listings</h2>

<section>

<h3>Create New Match</h3>

<% @stadiums.each do |stadium| %>
<select>
<option value='name'><%=@stadium.name%></option>
</select>

<%end%>


<% form_tag '/matches', method: 'post' do %>
<%= text_field_tag %> vs <%= text_field_tag %>
<%= submit_tag "Create" %>


</section>

<div></div>