

<center>
<h1><%=@user.name%> <%=@itinerary.name%> Itinerary Details</h1>
</center>


<br />

<h2>Football Match Listings</h2>

<section>

<h3>Create New Match</h3>

<form action = '/itineraries/<%= @itinerary.id %>/matches' method='POST'>

  <select name="stadium_id">
  <% @stadia.each do |stadium| %>

  <option value='<%= stadium.id %>'><%=stadium.name%></option>

  <%end%>

  </select> 

  <br>

  <input name = 'authenticity_token' type="hidden" value="<%= form_authenticity_token %>" />
  <input name = "itinerary_id" value= "<%=@itinerary.id%>" type="hidden" />
  <input type="date" name="date">

  <br>
  <input type = 'text' name = 'team1_name' /> 
  <h3>vs</h3> 
  <input type = 'text' name= 'team2_name' />
  <br>
  <br>
  <button>Create Match</button>
  <br>

</form>


</section>

<div></div>
